<html>
<head><title></title></head>

<body>

    <strong>Students!</strong>
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <table>
        <tr>
            <th>Name</th>
            <th>Class area</th>
            <th>Action</th>
        </tr>
        {% if not form.instance.id %}
        <tr>
            {% include 'MyApp/save.html' %}
        </tr>
        {% endif %}
        {% for teach in teach %}
        <tr>
            {% if form.instance.id == teach.id %}
            {% include 'MyApp/save.html' %}
            {% else %}
            <td>{{teach.Name}}</td>
            <td>{{teach.Area}}</td>
            <td>
                <button formnovalidate name="edit" value="{{ teach.id}}">Edit</button>
                <button formnovalidate name="delete" value="{{ teach.id}}">Delete</button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </table>
    </form>
    <strong>No Data!</strong>


</body>
</html>
